breadcrumbs {
  z-index: 1;
  height: 51px;
  line-height: 51px;
  display: block;
  ol {
    margin: 0;
    padding: 0;
    li {
      display: inline-block;
      color: #999;
      & + li:before {
        content: '/\00a0';
        display: inline-block;
        color: #ccc;
        padding-left: 10px;
      }
    }
  }
}