@import 'components_am/breadcrumbs';
@import 'components_am/searchbox';
@import 'components_am/navigation';

$body-background-color: #f0f0f0  !default;

body {
  background-color: $body-background-color;
  font-size: 15px;
  h1 {
    font-size: 2em;
    padding: 0;
    color: $primary-color;
  }
  h2 {
    font-size: 1.5em;
    padding: 0;
    color: $primary-color;
  }
  h3 {
    font-size: 1.17em;
    padding: 0;
    color: $primary-color;
  }
  h4 {
    font-size: 1.33em;
    padding: 0;
    color: $primary-color;
  }
  h5 {
    font-size: 0.83em;
    padding: 0;
    color: $primary-color;
  }
  h6 {
    font-size: 0.67em;
    padding: 0;
    color: $primary-color;
  }
  a {
    color: $primary-color;
  }

  main {
    margin: 0;
    margin-top: calc(#{$nav-top-height} + #{$nav-bottom-height} + 20px);
    padding-bottom: 30px;
    background-color: $body-background-color;
    .card{
      margin: 0.5rem 1rem;
    }
  }
  .table-of-contents a.active {
    border-left-color: $primary-color;
  }
}