$nav-top-height: 64px;
$nav-bottom-height: 48px;
$nav-top-color: #638EEA;
$nav-bottom-color: #3367d6;
$nav-text-color: rgb(221, 221, 221);

nav {
  @extend .z-depth-1;
  transition: box-shadow .25s;
  margin-bottom: 15px;
  height: calc(#{$nav-top-height} + #{$nav-bottom-height});
  color: #fff;
  .brand-logo, ul li a {
    color: $nav-text-color;
  }
  img {
    height: 64px;
  }
  a, li a {
    color: $nav-text-color;
  }

  #nav-top {
    background-color: $nav-top-color;
    margin-bottom: 0;
    height: $nav-top-height;
    z-index: 1;
  }
  #nav-bottom {
    background-color: $nav-bottom-color;
    height: $nav-bottom-height;


    .nav-list {
      position: relative;
      background-color: $nav-bottom-color;
      margin: 0 auto;
      white-space: nowrap;

      .nav-item {
        display: block;
        float: left;
        text-align: center;
        line-height: 48px;
        height: 48px;
        margin: 0;
        text-transform: uppercase;
        letter-spacing: .8px;
        color: $nav-text-color;

        a {
          display: block;
          height: 100%;
          color: $nav-text-color;
          @include transition(color .28s ease);
          &:hover {
            color: lighten($nav-text-color, 20%);
          }
        }

        &.disabled a {
          color: lighten($nav-text-color, 20%);
          cursor: default;
        }
        &.active {
          background-color: $nav-bottom-color;
          border-bottom: 2px solid $primary-color;
        }
      }
    }
  }
}