<!DOCTYPE html>
<html>
<head>
    <title>Angular Seed Demo</title>
    <link href="css/app.css" rel="stylesheet"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
<header ng-controller="NavigationController">
    <nav>
        <!-- Desktop stuff -->
        <div id="nav-top" class="row">
            <div class="container">
                <a href="#/hub" class="brand-logo"><img src="img/am_logo_kleur.gif" alt="Arcelor Mittal Gent"></a>

                <div class="col show-on-medium-and-down">
                    <a href="#" class="button-collapse" data-activates="nav-mobile" data-sidenav="left" data-menuwidth="500" data-closeonclick="false">
                        <i class="mdi-navigation-menu white-text"></i>
                    </a>
                </div>
                <div class="col l5 offset-l2 hide-on-med-and-down">
                    <autocomplete ng-model="query" attr-placeholder="" click-activation="true" data="items"
                                  on-type="updateItems" on-select="searchItems"></autocomplete>
                </div>

                <div class="col l5 hide-on-med-and-down  ">
                    <ul class="right">
                        <li><a href ng-bind="user"></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div id="nav-bottom">
            <div class="container">
                <div class="row">
                    <div class="col s12">
                        <ul class="nav-list">
                            <li class="nav-item" ng-class="getClass('/home')"><a href="#/home">Simple</a></li>
                            <li class="nav-item" ng-class="getClass('/contacts')"><a href="#/contacts">Breadcrumbs</a>
                            </li>
                            <li class="nav-item" ng-class="getClass('/pushpin')"><a href="#/pushpin">Pushpin</a></li>
                            <li class="nav-item" ng-class="getClass('/paginate')"><a href="#/paginate">Paginate</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <!-- Not working-->
        <ul id="slide-out" class="side-nav">
            <li><a href="#/hub"><img src="img/am_logo_kleur.gif" alt="Arcelor Mittal Gent"></a></li>
            <li><a href="#!">
                <autocomplete ng-model="query" attr-placeholder="" click-activation="true" data="items"
                              on-type="updateItems" on-select="searchItems"></autocomplete>
            </a></li>
        </ul>
    </nav>
    <div class="fixed-action-btn" id="fab" style="top: 65px; right: 10vw;">
        <a class="btn-floating btn-large" href="#/home">
            <i class="large mdi-content-add"></i>
        </a>
    </div>
</header>
<main>
    <div class="container">
        <div ng-view id="view"></div>
    </div>
</main>
<!-- Other scripts-->
<script src="lib/jquery-2.1.4.min.js"></script>
<script src="lib/materialize.min.js"></script>

<!-- Angular scripts -->
<script src="lib/angular.min.js"></script>
<script src="lib/dirPagination.js"></script>
<script src="lib/angular-sanitize.min.js"></script>
<script src="lib/angular-resource.min.js"></script>
<script src="lib/angular-materialize.js"></script>
<script src="lib/angular-route.min.js"></script>
<script src="lib/ng-breadcrumbs.js"></script>
<script src="lib/autocomplete.js"></script>

<!-- load this last -->
<script src="lib/require.js" data-main="app/main"></script>
</body>
</html>