$nav-top-height: 64px !default;
$nav-bottom-height: 48px !default;
$nav-top-color: $primary-color !default;
$nav-bottom-color: darken($nav-top-color, 10%) !default;
$nav-text-color: rgb(230, 230, 230) !default;

nav {
  @extend .z-depth-1;
  transition: box-shadow .25s;
  position:fixed;
  top: 0;
  height:#{$nav-top-height} + #{$nav-bottom-height};
  color: #fff;
  .brand-logo, ul li a {
    color: $nav-text-color;
  }
  img {
    height: 64px;
  }
  a, li a {
    color: $nav-text-color;
  }

  #nav-top {
    background-color: $nav-top-color;
    margin-bottom: 0;
    height: $nav-top-height;
    z-index: 1;
  }
  #nav-bottom {
    background-color: $nav-bottom-color;
    height: $nav-bottom-height;


    .nav-list {
      position: relative;
      background-color: $nav-bottom-color;
      margin: 0 auto;
      white-space: nowrap;

      .nav-item {
        display: block;
        float: left;
        text-align: center;
        line-height: 48px;
        height: 48px;
        margin: 0;
        text-transform: uppercase;
        letter-spacing: .8px;
        color: $nav-text-color;

        a {
          display: block;
          height: 100%;
          color: $nav-text-color;
          @include transition(color .28s ease);
          &:hover {
            color: lighten($nav-text-color, 50%);
          }
        }

        &.disabled a {
          color: lighten($nav-text-color, 20%);
          cursor: default;
        }
        &.active {
          background-color: $nav-bottom-color;
          border-bottom: 3px solid  lighten($nav-top-color, 15%);
        }
      }
    }
  }
}

@media #{$small-and-down}{
  nav {
    height: #{$nav-bottom-height};
  }
}